.body {
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
}

.button {
    cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio{
  color: #2e2f42;
}

.list-header {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.address-header {
  font-style: normal;
}